 <table>
   <tr>
     <td>Name:</td>
     <td><%= @contact_detail.name.length == 0 ? "Unknown"  :  @contact_detail.name %></td>
   </tr>
   <tr>
     <td>Email:</td>
     <td><%=  @contact_detail.email %></td>
   </tr>
   <tr>
     <td>Make Video:</td>
     <td><%= @contact_detail.make_video == "true" ? "Yes"  :  "No" %></td>
   </tr>
   <tr>
     <td>Review Video:</td>
     <td><%= @contact_detail.review_video == "true" ? "Yes"  :  "No" %></td>
   </tr>
   <tr>
     <td>Add contact:</td>
     <td><%= @contact_detail.add_to_list == "true"  ||
                     @contact_detail.make_video == "true"  ||
                     @contact_detail.review_video == "true"? "Yes"  :  "No" %></td>
   </tr>
   <tr>
     <td>Comments:</td>
     <td><%= @contact_detail.comment%></td>
   </tr>
 </table>

