<!DOCTYPE html>
<html>
<head>
  <title>UndergroundMed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">google.load("swfobject", "2.2");</script>

  <!--style and two column layout come from:  http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ -->

  <!--Google Analytics-->
  <script type="text/javascript">
   var xor_key = "<%=$xor_key%>";

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32892405-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>
<div id="innerBody">
<div id="header">
  <img src="assets/logo.jpg"/>
</div>

<div id="navigation">
  <div style="margin-left:auto; margin-right:auto; width:380px;">
    <div id="mainNav">
    <ul>
      <li><a href="#">Videos</a>
        <ul>
          <%@category_list.each do |category| %>
              <li><a href="#" onclick="getVideoListLocal('<%=category%>')"><%= category%></a></li>
          <% end %>
        </ul>
      </li>
      <li>|</li>
      <li><a href="#" onclick="showContactDialog()">Get Involved</a>
      <li>|</li>
      <li><a href="#">About</a>
        <ul>
          <li><a href="#" onclick="aboutMission()">Our Mission</a></li>
          <li><a href="#" onclick="aboutFounders()">Meet the Founders</a></li>
          <li><a href="#" onclick="aboutCollaboration()">Collaboration</a></li>
          </ul>
          </li>
        </ul>
      </div>
  </div>
</div>
<div id="wrap">

  <%= yield %>



  <div id="footer">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript">
        loadTwitter();
    </script>
  </div>
</div>
</div>
<div id="progressDlg">
  <div id="progressText" ></div>
  <!--<div><img id="progressImg"/></div>-->
</div>

<div id="infoDlg"><div id="infoHTML" ></div></div></div>

<div id="contactDlg">
  <b>Want to help?</b><br/>

  Yes, I would like to help by:<br/>
  <input type="checkbox" id="makeVideo"/>Making videos<br/>
  <input type="checkbox" id="reviewVideo">Reviewing Videos <br/>
  <input type="checkbox" id="addToList">Just keep me informed<br/>

  Comments:<br/>
  <textarea id="comments" rows="6" style="width:90%; padding:2px;"></textarea><br/>

  Name: <input type="text" id="name"/> <br/>
  Email*<input type="text" id="email"/>  <br/>

  <span class="smallText">*Required</span>  <br/>
</div>

</body>
</html>
