<!DOCTYPE html>
<html>
<head>
  <title>Undergroundmed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">google.load("swfobject", "2.2");</script>

  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>

  <!--style and two column layout come from:  http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ -->

</head>
<body>
<div id="header">
  <div class="outer>">
    <div class="inner">
      <%= image_tag("logo1.jpg") %>
    </div>
  </div>
</div>
<div id="nav"> </div>
<div id="wrap">


  <%= yield %>

  <div id="footer"></div>
</div>
</body>
</html>
