<!DOCTYPE html>
<html>
<head>
  <title>Undergroundmed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">google.load("swfobject", "2.2");</script>

  <!--style and two column layout come from:  http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ -->

</head>
<body>
<div id="progressDlg">
   <div id="progressText" ></div>
   <div><img id="progressImg"/></div>
</div>
<div id="infoDlg"><div id="infoHTML" ></div></div></div>
<div id="header">
  <div class="outer>">
    <div class="inner">
      <%= image_tag("logo1.jpg") %>
    </div>
  </div>
</div>
<div id="navigation">
  <nav>
  <ul>
    <li><a href="#">Videos</a>
      <ul>
        <%@category_list.each do |category| %>
            <li><a href="#" onclick="getVideoList('<%=category%>')"><%= category%></a></li>
        <% end %>
      </ul>
    </li>
    <li><a href="#">About</a>
      <ul>
        <li><a href="#" onclick="aboutMission()">Our Mission</a></li>
        <li><a href="#" onclick="aboutFounders()">Founders</a></li>
        <li><a href="#" onclick="aboutCollaboration()">Collaboration</a></li>
        </ul>
        </li>
      </ul>
  </nav>
</div>
<div id="wrap">

  <%= yield %>



  <div id="footer"></div>
</div>
</body>
</html>
